<h1 class="title">ERROR CON EL LOGIN: CREDENCIALES NO VÁLIDAS</h1>

<script>
    setTimeout(() => {
        console.log("Pasó el tiempo");
        window.location.pathname = 'login';
    }, 2000);
</script>