<h1 class="title">ERROR CON EL REGISTRO: USUARIO YA REGISTRADO</h1>
<h2>Error: {{message}}</h2>

<script>
    setTimeout(() => {
        console.log("Pasó el tiempo");
        window.location.pathname = 'registro';
    }, 2000);
</script>