<h1 class="title">Login de usuario</h1><br>

<form action="{{url}}/login" method="post">
    <label for="username">Ingrese su nombre</label><br>
    <input name="username" type="email"><br><br>
    <label for="password">Ingrese su contraseña</label><br>
    <input name="password" type="text"><br><br>
    <input class="submit-button" type="submit" value="Enviar">
</form>

<form action="{{url}}/registro" method="get">
    <button class="nav-button">Registrarse</button>
</form>